<main>
    <header class="Header">
        <nav class="Header__navbar">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </nav>
        <form action="#" class="Header__Search__Bar">
            <input type="search" placeholder="Search">
            <button type="submit"><i class='bx  bx-search' aria-label="submit button"></i></button>
        </form>
    </header>
    <div class="background"></div>
    <div class="container">
        <div class="content">
            <h2 class="Logo">GreenLink</h2>
            <div class="text-sci">
                <h2>Welcome!<br><span>To GreenLink</span></h2>
                <p>In aim to innovate , create and make a better world</p>
                <div class="social-icons">
                    <a href="#"><i class='bxl  bx-linkedin'></i></a>
                    <a href="#"><i class='bxl  bx-facebook-square'></i></a>
                    <a href="#"><i class='bxl  bx-instagram'></i></a>
                    <a href="#"><i class='bxl  bx-twitter-x'></i></a>
                </div>
            </div>
        </div>
        <div class="logreg-box">
            <div class="form-box Login">
                <form [formGroup]="SignUp" (ngSubmit)="onSubmit()">
                    <h2>Sign Up</h2>

                    <div class="input-box">
                        <span class="icon"><i class='bx  bx-envelope'></i></span>
                        <input type="text" class="userName" placeholder="Enter Your userName" formControlName="userName"
                            required>
                        @if (submit&&SignUp.controls['userName'].hasError('required') && SignUp.controls['userName']?.touched) {
                        <small>Enter Your Username</small>
                        }
                        @if (submit&&SignUp.controls['userName'].hasError('minlength')&& SignUp.controls['userName']?.touched) {
                        <small>User Name must be more than 3 characters</small>
                        }
                        @if (submit&&SignUp.controls['userName'].hasError('pattern')&& SignUp.controls['userName']?.touched) {
                        <small>Username must be all letters</small>
                        }
                        <label>Usermame</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx  bx-envelope'></i></span>
                        <input placeholder="(eg: Ahmed@LLAMA.com)" formControlName="email" required>
                        @if (submit&&SignUp.controls['email'].hasError('required') && SignUp.controls['email']?.touched) {
                        <small>Enter an Email</small>
                        }
                        @if (submit&&SignUp.controls['email'].hasError('email') && SignUp.controls['email']?.touched) {
                        <small>Your Email Format is not Correct
                        </small>
                        }
                        <label>Email</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx  bx-envelope'></i></span>
                        <input type="tel" placeholder="01XXXXXXXXX" formControlName="phone" required>
                        @if (submit&&SignUp.controls['phone'].hasError('pattern') &&
                        SignUp.controls['phone']?.touched) {
                        <small>
                            This is not a Correct Number!
                        </small>
                        }
                        <label>Phone number</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx  bx-lock'></i></span>
                        <input type="password" placeholder="a@#Dl956" formControlName="password" required>
                        @if (submit&&SignUp.controls['password'].hasError('required') &&
                        SignUp.controls['password']?.touched) {
                        <small>
                            Enter a Password
                        </small>
                        }
                        <label>Password</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx  bx-envelope'></i></span>
                        <input type="password" placeholder="Confirm password" formControlName="Confirm" required>
                        @if (submit&&SignUp.controls['password']?.touched &&SignUp.controls['Confirm']?.touched && !passwordMatch(SignUp) ) {

                        <small>
                            The Password don't match
                        </small>
                        }
                        <label>Confirm Password</label>
                    </div>

                    <button type="submit" class="btn">Sign Up</button>
                    <div class="login-register">
                        <p>Already have an account?<a routerLink="/sign-in" class="register-link">Sign Up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>
