@import "tailwindcss";

@theme {
  --color-text-green: #9CEBC7;
  --color-navBar: #033331;
  --color-border-color: #1D4A47;
}



#bgimg {
  background-image: url('bgimg.jpg');
}


input::placeholder, textarea::placeholder {
  color: #9ca3af; 
  font-weight: 300;
}
