<!-- Header conmponent -->
<header class="flex justify-between p-4 w-full bg-navBar text-white border border-[#1D4A47]">
  <div class="flex gap-2">
    <svg viewBox="0 0 100 120" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10"><path d="M30 20 L50 10 L50 100 L30 110 Z" fill="#10b981" opacity="0.8"></path><path d="M50 10 L70 20 L70 110 L50 100 Z" fill="#34d399"></path><path d="M30 20 L50 10 L70 20 L50 30 Z" fill="#6ee7b7"></path><path d="M30 20 L50 30 L50 100 Z" fill="#059669" opacity="0.3"></path></svg>
    <div>
      <h2 class="font-semibold text-2xl">GreenLink</h2>
      <p class="text-text-green">Eco Transport</p>
    </div>
  </div>
  <div class="flex gap-[4vw]">
    <div class="flex items-center gap-[1vw]">
      <i-lucide [img]="User" [size]="20" name="user" class="my-icon"></i-lucide>
      <h3>Welcome, User</h3>
    </div>
    <button class="flex cursor-pointer items-center text-md gap-[1vw] font-semibold">
      <i-lucide [img]="LogOutIcon" [size]="20" name="log-out" class="my-icon"></i-lucide>
      Sign Out
    </button>
  </div>
</header>

<!-- Full-viewport background behind everything -->
<div id="bgimg" class=" fixed inset-0 -z-20 bg-cover bg-center bg-no-repeat bg-fixed"></div>
<div class="fixed inset-0 -z-10 bg-black/30 backdrop-blur-xs"></div>

<!-- Main content -->
<main class="relative p-4" style="height: calc(100vh - 80px);">
  <div class="relative">
    <h2 class="text-white text-5xl mt-6">Choose Your Transport</h2>
    <p class="text-text-green mt-4 mb-2">Track nuses and trans in real-time, or book your train journey</p>

    <div class="p-[3px]  text-text-green grid grid-cols-3 w-[80vw] max-w-[786px] bg-navBar border border-border-color rounded-4xl">
      <button *ngFor="let tabName of tabs"
              [class]="'text-nowrap text-center rounded-4xl text-[#A3BCBA] ' + (tabName == tab() ? 'bg-[#009966] text-[#EEF8F5]' : '')"
              (click)="tab.set(tabName)">
        <p class="text-md font-semibold py-0.5 mx-auto">
          {{tabName}}
        </p>
      </button>
    </div>
    <app-electric-train *ngIf="tab() === 'Train'"></app-electric-train>
  </div>

</main>
