<div
  class="p-[3px]  text-text-green grid grid-cols-2 w-[80vw] max-w-[786px] bg-navBar border border-border-color rounded-4xl mt-2">
  <button *ngFor="let tabName of tabs"
    [class]="'text-nowrap text-center rounded-4xl text-[#A3BCBA] ' + (tabName == tab() ? 'bg-[#009966] text-[#EEF8F5]' : '')"
    (click)="tab.set(tabName)">
    <p class="text-md font-semibold py-0.5 mx-auto">
      {{ tabName }}
    </p>
  </button>
</div>
<app-my-tickets *ngIf="tab() ==='My Tickets'"></app-my-tickets>
@if (tab() == 'Book Ticket') {
  <app-hero-card></app-hero-card>
  <app-booking-form></app-booking-form>
}
