* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


main {
    background: black;
}
.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.background {
    width: 100%;
    height: 100vh;
    background: url('backchat.png') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.Header__navbar a {
    position: relative;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.Header__navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s;
}

.Header__navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.Header__Search__Bar {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid white;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.Header__Search__Bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    padding-left: 10px;


}

.Header__Search__Bar input::placeholder {

    color: white;
    font-size: 16px;

}

.Header__Search__Bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 78%;
    transform: translate(-50%, -50%);
    background: url(backchat.png) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    margin-right: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container .logreg-box {
    position: absolute;
    width: calc(100% - 58%);
    height: 100%;
    top: 0;
    right: 0;
}

.content .Logo {
    font-size: 30px;
}

.text-sci h2 {
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 span {
    font-size: 25px;
}

.text-sci p {
    font-size: 16px;
    margin: 20px 0;
}

.social-icons a i {
    font-size: 22px;
    color: white;
    margin-right: 10px;
    transition: 0.5s ease;
}

.social-icons a i:hover {
    transform: scale(1.2);
}

.logreg-box .form-box {
    display: block;
    align-content: center;
    background: transparent;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(2px); */
    padding-right: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

.logreg-box .form-box form {
    backdrop-filter:  blur(2px);
    border-radius: 10px;

}

.form-box h2 {
    font-size: 32px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: auto;
    height: 37px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
    padding-right: 30px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
.input-box input::placeholder{
    opacity: 0;
    color: darkgrey;
    font-size: 0.8rem;
    top: 0px;
    left: 0;
}

.input-box input:focus::placeholder{
    opacity: 1;
}
.input-box small{
    display: inline-block;
    font-size: .7rem;
    margin: 3px;
    left: -15;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-10%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s ease;
}

.input-box .icon {
    position: absolute;
    top: 13px;
    font-size: 19px;
    right: 0;
}

.form-box .remember-forget {
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forget a {
    color: white;
    text-decoration: none;
}

.remember-forget a:hover {
    color: white;
    text-decoration: underline;
}

.form-box .btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: transparent;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

.form-box .btn:hover {
    transform: translateY(-2px);
}

.form-box .btn:active {
    animation: press 0.1s ease;
}

@keyframes press {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    0% {
        transform: scale(1);
    }
}

.form-box .login-register {
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover {
    text-decoration: underline;
}

.Header__Search__Bar i {
    font-size: 25px;
    margin-right: 5px;
    color: white;
}