/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-text-green: #9CEBC7;
  --color-navBar: #033331;
  --color-border-color: #1D4A47;
}


body {
    background: black;
    margin: 0;
    padding: 0;
}